# Bonus: Temperature Analysis I

In [1]:
import pandas as pd
from datetime import datetime as dt

In [20]:
# "tobs" is "temperature observations"
tobs_df = pd.read_csv("hawaii_measurements.csv")
tobs_df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [22]:
# Convert the date column format from string to datetime
tobs_df["date"] = pd.to_datetime(tobs_df["date"], format="%Y-%m-%d")
tobs_df.head()

       station       date  prcp  tobs
0  USC00519397 2010-01-01  0.08    65
1  USC00519397 2010-01-02  0.00    63
2  USC00519397 2010-01-03  0.00    74
3  USC00519397 2010-01-04  0.00    76
4  USC00519397 2010-01-06   NaN    73

In [6]:
# Set the date column as the DataFrame index
tobs_df.set_index("date", inplace=True)

In [9]:
# Remove rows with NA values
tobs_df.dropna(axis=0, how="any", inplace= True)

In [14]:
# Drop the date column
tobs_index_df = tobs_df[["station", "prcp", "tobs"]].head()
tobs_index_df

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-07  USC00519397  0.06    70

### Compare June and December data across all years

In [12]:
from scipy import stats

In [25]:
# Filter data for desired months

# Filtered = tobs_df[tobs_df["Date"].dt.month == 6]
# Filtered = tobs_index_df.loc["2010-06-01":"2010-06-30"]
# Filtered = tobs_df[(tobs_df["Date"] > "2010-06-01") & (tobs_df["Date"] < "2010-06-30")]
# Filtered

# return the raw data from each month, June and December
tobs_june_df = pd.read_csv("hawaii_measurements_june.csv")
tobs_decemeber_df = pd.read_csv("hawaii_measurements_december.csv")

In [33]:
# Identify the average temperature for June
round(tobs_june_df["tobs"].mean(),3)

74.944

In [34]:
# Identify the average temperature for December
round(tobs_decemeber_df["tobs"].mean(),3)

71.042

In [ ]:
# Create collections of temperature data
# ???

In [37]:
# Run paired t-test
stats.ttest_ind(tobs_june_df["tobs"], tobs_decemeber_df["tobs"])

Ttest_indResult(statistic=31.60372399000329, pvalue=3.9025129038616655e-191)

### Analysis

In [38]:
# Given p-value is less than 5% hence hypothesis is false